{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <h2>{{ article.title }}</h2>
        <div>{{ article.content|truncate(200) }}</div>
        <div>{{ article.author }}</div>
        <div>{{ article.categories }}</div>
        {% if article.publication %}{{ article.publication|date('Y-m-d') }}{% endif %}
    </div>
{% endblock %}
